#button{
	width: 100px;
	margin: 0 auto;
}


#prompt {
	width: 100px;
	text-align: center;
}

.container {
	width: 600px;
	margin: auto;
	
}

.grid {
	display: inline-block;
	outline-color: #000000;
	outline-width: medium;
	outline-style: solid;
	clear: both;
}

.hoveredOn{
	background-color:#248da1;
}

.newline{
	clear:both;
	display: inline-block;
	outline-color: #000000;
	outline-width: medium;
	outline-style: solid;
}